*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2f2fa2;
    padding: 16px;
    font-size: 18px;
    color: #f64C72;
}

.links {
    display: flex;
    gap: 12px;
}

.upper-portion{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding: 16px 24px;
    background-color: #2f2fa2;
    color: #f64C72;
}
#sell-pitch{
    color: white;
}

#passport-img{
    border-radius: 10px;
    box-shadow: -10px 5px 5px #242582;
}

.btn-signup-1,
.btn-signup-2{
    transition-duration: 0.4s;
}

.btn-signup-1:hover{
    background-color: #553d67;
}

.btn-signup-2:hover{
    background-color: #99738e;
}
.btn-signup-1,
.btn-signup-2{
    background-color: #2f2fa2;
    color: #f64C72;
    border: 1px solid #f64C72;
    border-radius: 4px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn-signup-2{
    background-color: #f64C72;
    color:#2f2fa2;
    border: 2px solid;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #f64C72;
}

.info-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 60px;
    /* border: 1px solid red; */
}

.info-cards img {
    width: 20vh;
    height: 100%;
}

.card1,
.card2,
.card3,
.card4 {
    border: 5px solid #99738e;
    border-radius: 5px;
    height: 17vh;
}

.card-text1,
.card-text2,
.card-text3,
.card-text4 {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 21vh;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 128px 64px;
    display: flex;
    justify-content: center;
}

#testimonial-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    /* text-align: center; */
    width: 800px;
    color: grey;
}

.signup-card {
    background-color: #f64C72;
    display: flex;
    margin: 100px 100px;
    padding: 32px 32px;
    width: 600px;
    border-radius: 5px;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid purple; */
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-signup p {
    margin: 0;
    padding: 0;
    color: white;
}

#signup-text1{
    font-weight: bold;
}

.created-by{
    background-color: #2f2fa2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
    color: #f64C72;
}

.created-by a{
    font-weight: lighter;
}

