@font-face {
    font-family: Golden-Age-Shad;
    src: url(./fonts/Golden\ Age.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.game-btn-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    font-family: Golden-Age-Shad;
}
.score-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 30px;
    min-width: 40vh;
    min-height: 20vh;
}

.prompt, .score-display{
    font-size: larger;
}
.score-display-container{
    border: 1px solid red;
}

.winner-display{
    display: flex;
    border: 2px solid blue;
    min-width: 50vh;
}

.footer-content{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}