body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .rock-btn{
    background-color: green;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.score-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    width: 400px;
}

.score-display{
    border: 1px solid red;
}